<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<link rel="stylesheet" href="/static/css/style.css">

<!--Corpo abaixo-->
<body id="corpo-contato" style="margin-left: 100px; margin-right: 100px;" background="/static/images/fundo2.png">
    <div id="interface">
        <header id="cabeçalho">
            <img src="/static/images/logo.png" alt="logo" id="logo">
            <p id="links">
                <a href="home2.html">Home</a> / <a href="quem_somos.html">Quem Somos</a> / <a href="contato.html">Contato</a>
            </p>
        </header>

        <div id="contato">
            <h3>Entre em contato</h3>
            <p> Lorem, ipsum dolor <strong>sit amet </strong>consectetur adipisicing elit.</p>

            <hr>    <!--Divisória-->

            <!--Menu de contate-nos-->
            <form>
                <label for="">Seu e-mail:</label> <br>
                <input type="text"><br>
                <label for="">Assunto:</label> <br>
                <input type="text"><br>
                <label for="">Descrição:</label> <br>
                <textarea name="" id="descrição" cols="30" rows="3"></textarea> <br>
                <input type="submit" value="Enviar">

            </form>
        </div>


        <h4 id="direitos">Todos os direitos reservados</h4>

    </div>
    
</body>
</html>
