<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<link rel="stylesheet" href="/static/css/style.css">
<!--Corpo da página-->
<body id="corpo-home" style="margin-left: 100px; margin-right: 100px;" background="/static/images/fundo.png">
    <div id="interface">
        <header id="cabeçalho">
            <img src="/static/images/logo.png" alt="logo" id="logo">
            <p id="links">
            <a href="home2.html">Home</a> / <a href="quem_somos.html">Quem Somos</a> / <a href="contato.html">Contato</a>
            </p>
            </ul>
        </header>
        <br> <br>
        <div id="capa">
        <img src="/static/images/capa.png" alt="capa" id="capa">
        </div>

        <div id="texto">
            <h3>Sobre a universidade:</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur neque accusamus placeat,
                 praesentium vitae reprehenderit suscipit beatae accusantium in, numquam velit tenetur, dolores
                  natus non soluta voluptatum. Mollitia, dignissimos vel?
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem deserunt consectetur voluptatum
                 dolorem molestias natus eius omnis provident nobis voluptas laudantium consequatur vel possimus,
                 eos reprehenderit nesciunt deleniti harum quis.
            </p>

        </div>

      
        <h3 id="direitos">Todos os direitos reservados</h3>

    </div> 

    
</body>
</html>
